<!DOCTYPE html>


<html>


    <head>
    
        <!-- title of page -->
        <title>Surprise!</title>
    
    </head>
    
    
    <body>
    
        <!-- display three images of cute dogs and links to the image sources -->
        <h1>Have a good day!</h1>
        
        <p><img src = "/static/media/samoyed.jpg" alt = "samoyed.jpg" width = "333" height = "500"></p>
        
        <h6>
        
            Source for (free) image:
        
            <a href = "https://pixabay.com/photos/pet-dog-white-samoyed-yawning-1394385/">
                https://pixabay.com/photos/pet-dog-white-samoyed-yawning-1394385/
            </a>        
        
        </h6>
        
        <p><img src = "/static/media/corgi.jpg" alt = "corgi.jpg" width = "755" height = "500"></p>
        
        <h6>
        
            Source for (free) image:
            
            <a href = "https://pixabay.com/photos/pets-dog-corgi-cute-4415649/">
                https://pixabay.com/photos/pets-dog-corgi-cute-4415649/
            </a>            
        
        </h6>
        
        <p><img src = "/static/media/shiba.jpg" alt = "shiba.jpg" width = "753" height = "500"></p>
        
        <h6>
        
            Source for (free) image:
            
            <a href = "https://pixabay.com/photos/dog-shiba-inu-smile-2238012/">
                https://pixabay.com/photos/dog-shiba-inu-smile-2238012/
            </a>
            
        </h6>
    </body>
    
    
    <footer>
    
        <!-- extra info and link to home page -->
        <h6>
            <a href = "/">Go back to my home page</a>
            <p>
                This website is for the Columbia ENGI 1006 Final Assignment,
                Spring 2020.
            </p>
        </h6>
        
    </footer>


</html>