<!DOCTYPE html>


<html>


    <head>
    
        <!-- title of page -->
        <title>Hobbies</title>
    
        <!-- style for table -->
        <style>
        
            table {
                font-family: verdana, sans-serif;
            }
            
            td, th {
                text-align: left;
                padding: 10 px;
            }
                
            tr:nth-child(even) {
                background-color: lightgray;
            }
        
        </style>
        
    </head>
    
    
    <body>
    
        <h2>
            Before and After of Some of My Hobbies (a little sad to see the
            differences haha)
        </h2>
        
        <!-- table with some of my hobbies -->
        <table>
            <tr>
                <th>Hobby</th>
                <th>How I Was Before</th>
                <th>How I Am Now</th>
            </tr>
            <tr>
                <td>Chess</td>
                <td>
                    I played tournament chess for several years and was
                    nationally ranked for my age for a while.
                </td>
                <td>
                    I no longer play tournament chess but I play for fun (skill
                    level definitely decreased a lot).
                </td>
            </tr>
            <tr>
                <td>Piano</td>
                <td>
                    I took piano lessons for several years and participated in
                    recitals/competitions.
                </td>
                <td>I have barely touched a piano in years.</td>
            </tr>
            <tr>
                <td>Swimming</td>
                <td>
                    I took swimming classes for several years. I don't remember
                    if I was ever in a club or a team, but I wasn't
                    particularly good anyways.
                </td>
                <td>I can still swim.</td>
            </tr>
            <tr>
                <td>Water Polo</td>
                <td>
                    Played water polo for a year or two (in middle school I
                    think). I wasn't that good at all.
                </td>
                <td>I probably can't even tread water for long enough.</td>
            </tr>
            <tr>
                <td>Ice Skating</td>
                <td>
                    I don't remember if I took classes or if I just learned by
                    myself, but I remember ice skating decently well as a
                    little kid.
                </td>
                <td>
                    After not touching ice skating for several years, I tried
                    ice skating for fun once in high school. Apparently muscle
                    memory failed me. I recently decided that I want to get
                    back into ice skating as soon as possible.
                </td>
            </tr>
            <tr>
                <td>Ice Hockey</td>
                <td>
                    I remember playing ice hockey for a little bit when I was
                    small. I probably wasn't that great though.
                </td>
                <td>
                    I don't even remember how to do basic ice skating properly
                    right now, let alone play ice hockey. I'm currently more
                    interested in getting back into ice skating.
                </td>
            </tr>
            <tr>
                <td>Art</td>
                <td>I took art classes for a bit when I was small.</td>
                <td>I can barely draw stick figures.</td>
            </tr>
            <tr>
                <td>Other Various Random Hobbies</td>
                <td>
                    There are several other random hobbies that I temporarily
                    get interested in and start...
                </td>
                <td>
                    ...and then soon, I abandon most of them. I'm trying to
                    change that tendency.
                </td>
            </tr>
        </table>
        
        <h3>
            (obviously not a complete list: I'm not currently hobbyless; these
            were just some past major hobbies of mine that I remember)
        </h3>
    
    </body>


    <footer>
    
        <!-- extra info and link to home page -->
        <h6>
            <a href = "/">Go back to my home page</a>
            <p>
                This website is for the Columbia ENGI 1006 Final Assignment,
                Spring 2020.
            </p>
        </h6>
        
    </footer>


</html>