<!DOCTYPE html>


<html>


    <head>
    
        <!-- title of the page -->
        <title>Home</title>
        
    <head>
    
    
    <body>
    
        <h1>Jerry Qu</h1>
        
        <!-- TODO: Add picture of myself -->
        
        <h2><b>Information</b></h2>
        
        <p>Grade: Freshman (As of Spring 2020)</p>
        
        <p>Intended Major: Applied Math and/or Applied Physics</p>
        
        <h2>More Stuff:</h2>
        
        <p><a href = "/hobbies">Hobbies</a>: My Past and Current Hobbies</p>
        
        <p><a href = "/puzzles">Puzzles</a>: Random Puzzles That I Remember</p>
        
        <!-- TODO: Find Cool Website -->
        <p><a href = "/">Cool Website You Should Check Out</a></p>
    
    </body>
    
    
    <footer>
    
        <!-- extra info -->
        <h6>
        
            <p>This website is for the Columbia ENGI 1006 Final Assignment</p>
            
        </h6>
        
    </footer>
    
    
</html>

