<!DOCTYPE html>


<html>


    <head>
    
        <!-- title of the page -->
        <title>Home</title>
        
    <head>
    
    
    <body>
    
        <h1>Jerry Qu</h1>
        
        <!-- picture of myself -->
        <img src = "/static/media/jerry_qu.jpg" alt = "Photo of myself" width = "242" height = "500">
        
        <!-- some personal info -->
        <h2><b>Information</b></h2>
        
        <p>Born and raised in San Diego, California</p>
        
        <p>Current school: Columbia University (Engineering)</p>
        
        <p>Grade: Freshman (As of Spring 2020)</p>
        
        <p>Intended Major: Applied Math and/or Applied Physics</p>
        
        <!-- links -->
        <h2>More Stuff:</h2>
        
        <p><a href = "/hobbies">Hobbies</a>: My past and current hobbies.</p>
        
        <p><a href = "/random_facts_game">Two Truths and a Lie</a>: Game with random facts about me.</p>
        
        <p>
            <a href = "https://xkcd.com/archive/">
                Cool Website You Should Check Out
            </a>
        </p>
    
    </body>
    
    
    <footer>
    
        <!-- extra info -->
        <h6>
        
            <p>This website is for the Columbia ENGI 1006 Final Assignment</p>
            <p>Thanks for visiting<a href = "/easter_egg">!</a></p>
            
        </h6>
        
    </footer>
    
    
</html>

