<!DOCTYPE html>


<html>


    <head>
    
        <!-- title of page -->
        <title>Puzzles</title>
    
    </head>
    
    
    <body>
    
        <h1>Random Puzzles That I Remember</h1>
    
    </body>


    <footer>
    
        <!-- extra info and link to home page -->
        <h6>
    
            <a href = "/">Go back to my home page</a>
    
            <p>This website is for the Columbia ENGI 1006 Final Assignment</p>
        
        </h6>
        
    </footer>
    
    
</html>